<form class="form-signin" #loginForm="ngForm" (ngSubmit)="login(loginForm)">

  <div class="row justify-content-center">
    <div class="col-md-8 ">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">

          <div class="form-group row">
            <label for="username" class="col-md-4  col-form-label text-md-right">E-Mail Address</label>
            <div class="col-md-6">
              <input type="email" id="username" name="username" ngModel class="form-control" placeholder="User Name" required autofocus>
            </div>
          </div>

          <div class="form-group row">
            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>
            <div class="col-md-6">
              <input type="password" id="password" name="password" ngModel class="form-control" placeholder="Password" required>
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-6 offset-md-4">
              <div class="checkbox">
                <label>
                  <input type="checkbox" name="remember"> Remember Me
                </label>
              </div>
            </div>
          </div>
          <div *ngIf="invalidLogin" class="alert alert-danger">Invalid username or password.</div>
          <div class="col-md-6 offset-md-4">
            <button type="submit" class="btn btn-primary">
              Login
            </button>
            <a [routerLink]='["/forgotPassword"]' class="btn btn-link">
              Forgot Your Password?
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>

</form>
