<!--<div class="home row">
  <div class="col-sm">
    <h3>In Shop or FREE Mobile Service</h3>
    <p>Don't have time to bring your car to our shop? Don't worry, we come to your home or work for FREE and fix your windshield while you wait!</p>
  </div>
  <div class="col-sm">
    <h3>Same Day Service
    </h3>
    <p>We offer fast, convenient, same day service. In most cases, a windshield replacement takes only about an hour! Come in shop or we come to you!</p>
  </div>
  <div class="col-sm">
    <h3>"No Hassle" Lifetime Warranty</h3>
    <p>Lifetime Warranty on every auto glass or windshield replacement we do. Covers against leakage, material defects and workmanship.</p>

  </div>
</div>-->
<!-- Masthead -->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Cano's Auto glass. </h1>
        <h2 class="mb-5">Is a full-service auto glass replacement and repair company, focused on customer service and quick response time by our certified glass technicians. </h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>

<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-screen-desktop m-auto text-primary"></i>
          </div>
          <h3>GLASS REPAIRS</h3>
          <p class="lead mb-0">Our auto glass shops also replace any piece of glass or mirror in your vehicle or heavy equipment</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-layers m-auto text-primary"></i>
          </div>
          <h3>ADDITIONAL REPAIRS</h3>
          <p class="lead mb-0">In addition to auto glass, our shops are able to repair power window motors. We also have wiper blade replacements!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="icon-check m-auto text-primary"></i>
          </div>
          <h3>CHIP & SCRATCH REPAIR</h3>
          <p class="lead mb-0">we cover all makes and models, including antique cars, heavy construction vehicles, and farm equipment!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Image Showcases -->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row no-gutters">

      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../assets/img/bg-showcase-1.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Auto Glass Repair and Replacement</h2>
        <p class="lead mb-0">The most important thing when your auto windshield is damaged or cracked is to find a trustworthy and reliable shop to fix it. We are a locally-owned one-stop shop for front windshield replacement. A cracked, chipped or broken car window makes you susceptible to weather and theft, and our guys are here to secure your vehicle’s interior with our convenient mobile and in-store services.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('../../assets/img/bg-showcase-2.jpg');"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2>We Put the Customer First</h2>
        <p class="lead mb-0">Having a broken windshield is stressful enough. Be it the front windshield glass or side door glass, our experience and expertise will give you peace of mind through the process. Our focus is on the customer, not the repair. We ensure that you maintain your peace of mind throughout the entire process.</p>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('../../assets/img/bg-showcase-3.jpg');"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2>Car Window Repair Done Right</h2>
        <p class="lead mb-0">specialists install only the highest quality auto glass and sealants to ensure guarantee that your windshield replacement is done the right way the first time. We have been replacing and repairing auto windshields in El Cajon for over 10 years. You can rely on us to do the job right the first time.</p>
      </div>
    </div>
  </div>
</section>

<!-- Testimonials -->
<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="../../assets/img/testimonials-1.jpg" alt="">
          <h5>Margaret E.</h5>
          <p class="font-weight-light mb-0">After a rock chip repair turned bad, the repair company sent us to A1 to get the windshield on my Scion xB replaced. They were professional, fast but reliable and I haven’t had any issue with my new windshield. I recommended them to a family member who had a great experience with them as well.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="../../assets/img/testimonials-2.jpg" alt="">
          <h5>Fred S.</h5>
          <p class="font-weight-light mb-0">My car was broken into and o found them on yelp. The owner was super friendly and personable. They were great and got my work done quick. Glad I found them and they offer a mobile service. Next time I will be going there. There really good a knowledgeable.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="../../assets/img/testimonials-3.jpg" alt="">
          <h5>Sarah W.</h5>
          <p class="font-weight-light mb-0">Great service and great deal. I would recommend this company. They have this great free mobile service where they came to my job place and got it done quick. I was pretty impressed.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Call to Action -->
<section class="call-to-action text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
      </div>
      <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
        <form>
          <div class="form-row">
            <div class="col-12 col-md-9 mb-2 mb-md-0">
              <input type="email" class="form-control form-control-lg" placeholder="Enter your email...">
            </div>
            <div class="col-12 col-md-3">
              <button type="submit" class="btn btn-block btn-lg btn-primary">Sign up!</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Terms of Use</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Privacy Policy</a>
          </li>
        </ul>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Cano's Auto Glass 2019. All Rights Reserved.</p>
      </div>
      <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-facebook fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item mr-3">
            <a href="#">
              <i class="fab fa-twitter-square fa-2x fa-fw"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="#">
              <i class="fab fa-instagram fa-2x fa-fw"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
